<!DOCTYPE html>
<html>
<head>
	<title>Angular FusionCharts</title>
	<script src="vendor/jquery.min.js" type="text/javascript"></script>
    <script src="vendor/angular.js" type="text/javascript"></script>
    <script src="vendor/angular-route.min.js" type="text/javascript"></script>
    <script src="vendor/ui-bootstrap.js" type="text/javascript"></script>
    <script src="vendor/ui-bootstrap-tpls.js" type="text/javascript"></script>
    <script src="vendor/fusioncharts.js" type="text/javascript"></script>
    <script src="src/angular-fusioncharts.js" type="text/javascript"></script>
    <script src="vendor/prism.js" type="text/javascript"></script>
    <script src="demos/demobrowser.js" type="text/javascript"></script>    

    <link rel="stylesheet" href="vendor/css/bootstrap.css" />
    <link rel="stylesheet" href="demos/demobrowser.css" />
    <link rel="stylesheet" href="vendor/prism.css" />
</head>
<body ng-app="demo_browser">
<div class="container">

<script>
window.fcDemos = {};


	window.fcDemos["ex01"] = {
		'js_code_text': "\n$scope.myDataSource = {\n    chart: {\n        caption: \"Harry's SuperMart\",\n        subCaption: \"Top 5 stores in last month by revenue\",\n    },\n    data:[{\n        label: \"Bakersfield Central\",\n        value: \"880000\"\n    },\n    {\n        label: \"Garden Groove harbour\",\n        value: \"730000\"\n    },\n    {\n        label: \"Los Angeles Topanga\",\n        value: \"590000\"\n    },\n    {\n        label: \"Compton-Rancho Dom\",\n        value: \"520000\"\n    },\n    {\n        label: \"Daly City Serramonte\",\n        value: \"330000\"\n    }]\n};\n",
		'html_code_text': "\n<fc-chart \n    fc-width=\"600\" \n    fc-height=\"400\"\n    fc-type=\"column2d\",\n    fc-datasource=\"{{myDataSource}}\"\n    fc-chart-click=\"chartClicked\",\n    fc-chart-object=\"chartObj\"\n    ></fc-chart>\n",
		'js_func': function ($scope) {
			
$scope.myDataSource = {
    chart: {
        caption: "Harry's SuperMart",
        subCaption: "Top 5 stores in last month by revenue",
    },
    data:[{
        label: "Bakersfield Central",
        value: "880000"
    },
    {
        label: "Garden Groove harbour",
        value: "730000"
    },
    {
        label: "Los Angeles Topanga",
        value: "590000"
    },
    {
        label: "Compton-Rancho Dom",
        value: "520000"
    },
    {
        label: "Daly City Serramonte",
        value: "330000"
    }]
};

		},
		'name': "A simple chart",
		'desc': "A simple chart with all data embedded into the directive"
	}

	window.fcDemos["ex02"] = {
		'js_code_text': "\n$scope.dataSource = {\n    chart: {\n        caption: \"Harry's SuperMart\",\n        subCaption: \"Top 5 stores in last month by revenue\",\n    },\n    data:[{\n        label: \"Bakersfield Central\",\n        value: \"880000\"\n    },\n    {\n        label: \"Garden Groove harbour\",\n        value: \"730000\"\n    },\n    {\n        label: \"Los Angeles Topanga\",\n        value: \"590000\"\n    },\n    {\n        label: \"Compton-Rancho Dom\",\n        value: \"520000\"\n    },\n    {\n        label: \"Daly City Serramonte\",\n        value: \"330000\"\n    }]\n};\n",
		'html_code_text': "\n<fc-chart \n    fc-width=\"300\" \n    fc-height=\"200\"\n    fc-type=\"column2d\",\n    fc-datasource=\"{{dataSource}}\"\n    ></fc-chart>\n<div fc-chart\n    fc-width=\"300\" \n    fc-height=\"200\"\n    fc-type=\"column2d\",\n    fc-datasource=\"{{dataSource}}\"\n    ></div>\n\n",
		'js_func': function ($scope) {
			
$scope.dataSource = {
    chart: {
        caption: "Harry's SuperMart",
        subCaption: "Top 5 stores in last month by revenue",
    },
    data:[{
        label: "Bakersfield Central",
        value: "880000"
    },
    {
        label: "Garden Groove harbour",
        value: "730000"
    },
    {
        label: "Los Angeles Topanga",
        value: "590000"
    },
    {
        label: "Compton-Rancho Dom",
        value: "520000"
    },
    {
        label: "Daly City Serramonte",
        value: "330000"
    }]
};

		},
		'name': "Different ways to use the directive",
		'desc': "This is the second test example"
	}

	window.fcDemos["ex03"] = {
		'js_code_text': "\n\n",
		'html_code_text': "\n<fc-chart fc-json-url=\"data/data.json\"></fc-chart>\n",
		'js_func': function ($scope) {
			


		},
		'name': "Fetch data from JSON URL",
		'desc': "Fetch data remotely from a JSON file or URL."
	}

	window.fcDemos["ex04"] = {
		'js_code_text': "\n$scope.dataSource = {\n    chart: {\n        caption: \"Harry's SuperMart\",\n        subCaption: \"Top 5 stores in last month by revenue\",\n    },\n    data:[{\n        label: \"Bakersfield Central\",\n        value: \"880000\"\n    },\n    {\n        label: \"Garden Groove harbour\",\n        value: \"730000\"\n    },\n    {\n        label: \"Los Angeles Topanga\",\n        value: \"590000\"\n    },\n    {\n        label: \"Compton-Rancho Dom\",\n        value: \"520000\"\n    },\n    {\n        label: \"Daly City Serramonte\",\n        value: \"330000\"\n    }]\n};\n\n$scope.updateMyChartData = function () {\n    $scope.dataSource.data[2].label = \"This Label is Updated\";\n    $scope.dataSource.data[2].value = \"420000\";\n\n    $scope.dataSource.data[3].label = \"This is updated as well\";\n    $scope.dataSource.data[3].value = \"210000\";\n};\n",
		'html_code_text': "\n<div fc-chart\n    fc-width=\"600\" \n    fc-height=\"400\"\n    fc-type=\"column2d\",\n    fc-datasource=\"{{dataSource}}\"\n    ></div>\n<p><a class=\"btn btn-default\" ng-click=\"updateMyChartData()\">Click me to change data</a></p>\n",
		'js_func': function ($scope) {
			
$scope.dataSource = {
    chart: {
        caption: "Harry's SuperMart",
        subCaption: "Top 5 stores in last month by revenue",
    },
    data:[{
        label: "Bakersfield Central",
        value: "880000"
    },
    {
        label: "Garden Groove harbour",
        value: "730000"
    },
    {
        label: "Los Angeles Topanga",
        value: "590000"
    },
    {
        label: "Compton-Rancho Dom",
        value: "520000"
    },
    {
        label: "Daly City Serramonte",
        value: "330000"
    }]
};

$scope.updateMyChartData = function () {
    $scope.dataSource.data[2].label = "This Label is Updated";
    $scope.dataSource.data[2].value = "420000";

    $scope.dataSource.data[3].label = "This is updated as well";
    $scope.dataSource.data[3].value = "210000";
};

		},
		'name': "Update chart data from scope",
		'desc': "Change the data dynamically in the scope and watch the chart update automatically."
	}

	window.fcDemos["ex05"] = {
		'js_code_text': "\n$scope.dataSource = {\n    chart: {\n        caption: \"Harry's SuperMart\",\n        subCaption: \"Top 5 stores in last month by revenue\",\n    },\n    data:[{\n        label: \"Bakersfield Central\",\n        value: \"880000\"\n    },\n    {\n        label: \"Garden Groove harbour\",\n        value: \"730000\"\n    },\n    {\n        label: \"Los Angeles Topanga\",\n        value: \"590000\"\n    },\n    {\n        label: \"Compton-Rancho Dom\",\n        value: \"520000\"\n    },\n    {\n        label: \"Daly City Serramonte\",\n        value: \"330000\"\n    }]\n};\n$scope.selectedValue = \"nothing\";\n$scope.onMyChartClick = function (event, props) {\n    $scope.selectedValue = props.displayValue;\n};\n",
		'html_code_text': "\n<div fc-chart\n    fc-width=\"600\" \n    fc-height=\"400\"\n    fc-type=\"column2d\",\n    fc-datasource=\"{{dataSource}}\"\n    fc-dataplot-click=\"onMyChartClick\"\n    ></div>\n<p>The value that you have selected is: {{ selectedValue }}</p>\n",
		'js_func': function ($scope) {
			
$scope.dataSource = {
    chart: {
        caption: "Harry's SuperMart",
        subCaption: "Top 5 stores in last month by revenue",
    },
    data:[{
        label: "Bakersfield Central",
        value: "880000"
    },
    {
        label: "Garden Groove harbour",
        value: "730000"
    },
    {
        label: "Los Angeles Topanga",
        value: "590000"
    },
    {
        label: "Compton-Rancho Dom",
        value: "520000"
    },
    {
        label: "Daly City Serramonte",
        value: "330000"
    }]
};
$scope.selectedValue = "nothing";
$scope.onMyChartClick = function (event, props) {
    $scope.selectedValue = props.displayValue;
};

		},
		'name': "Trigger scope event from chart",
		'desc': "Listen to scope functions in your controller very easily, and update the scope."
	}

</script>
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="http://fusioncharts.com/">FusionCharts Home</a></li>  </ul>
			<h3><a href="http://fusioncharts.github.io/angular-fusioncharts/"><img src="http://www.fusioncharts.com/theme/210x38xlogo.png.pagespeed.ic.KZD9tJ7qIK.png" class="logo"></a></h3>
	</div>
	<div class="jumbotron">
		<img src="images/ng-fc-logo.png" class="logo">
		<h1>Angular-FusionCharts</h1>
		<p>Simple and effective AngularJS bindings for FusionCharts JavaScript Charting Library.</p>
		<p><a class="btn btn-primary btn-lg" href="https://github.com/fusioncharts/angular-fusioncharts/archive/v0.1-alpha.zip" role="button"><i class="glyphicon glyphicon-download"></i> Download (0.1-alpha)</a></p>
	</div>
	<div class="row">
		<div class="col-md-4">
		<h3>About Angular-FusionCharts</h3>
		<p>
		This project provides AngularJS bindings for <a href="http://fusioncharts.com">FusionCharts JavaScript Charting Library</a>. It makes adding rich, interactive charting to your Angular JS Projects easy and works in the <i>Angular Way</i>. This is an officially supported binding. If you have a valid support subscription for FusionCharts, you can contact support to have your queries answered.
		</p>
		</div>
		<div class="col-md-4 ">
		<h3>Features</h3>
		<p>
		<ul>
			<li>Add a chart using just a single directive</li>
			<li>Auto-updates your chart object on modifying scope</li>
			<li>Angular-friendly events let you call controller functions directly from the chart</li>
			<li>Offers advanced control by giving you access to full FusionCharts object</li>
			<li>Has variety of ways to add a chart, from JSON URL to Scope Array Binding</li>
			<li>Plenty of examples and good documentation (coming soon)</li>
		</ul>
		</p>
		</div>
		<div class="col-md-4">
		<h3>Community</h3>
		<p>
		<ul>
			<li><a href="http://github.com/fusioncharts/angular-fusioncharts">Github Repo</a></li>
			<li><a href="http://github.com/fusioncharts/angular-fusioncharts/issues">Issues</a></li>
			<li><a href="http://twitter.com/fusioncharts">FusionCharts Twitter</a></li>
			<li><a href="http://stackoverflow.com/questions/tagged/fusioncharts">Stack Overflow</a></li>
		</ul>

		<h3>Support</h3>
		<p>If you have a FusionCharts support subscription, you can <a href="http://www.fusioncharts.com/contact/support/">contact support</a> to request direct assistance with angular-fusioncharts.</p>
		</div>
	</div>


<div class="row">
<div class="col-md-12">
<h1 style="border-bottom:1px solid #e3e3e3; padding-bottom: 10px">Demos</h1>
</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="list-group" role="tablist">
		
			<a href="#/demos/ex01" class="list-group-item "><h4 class="list-group-item-heading">A simple chart</h4><p class="list-group-item-text">A simple chart with all data embedded into the directive</p></a>
		
			<a href="#/demos/ex02" class="list-group-item "><h4 class="list-group-item-heading">Different ways to use the directive</h4><p class="list-group-item-text">This is the second test example</p></a>
		
			<a href="#/demos/ex03" class="list-group-item "><h4 class="list-group-item-heading">Fetch data from JSON URL</h4><p class="list-group-item-text">Fetch data remotely from a JSON file or URL.</p></a>
		
			<a href="#/demos/ex04" class="list-group-item "><h4 class="list-group-item-heading">Update chart data from scope</h4><p class="list-group-item-text">Change the data dynamically in the scope and watch the chart update automatically.</p></a>
		
			<a href="#/demos/ex05" class="list-group-item "><h4 class="list-group-item-heading">Trigger scope event from chart</h4><p class="list-group-item-text">Listen to scope functions in your controller very easily, and update the scope.</p></a>
		
		</div>
	</div>
	<div class="col-md-9">
		<div ng-view></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>QuickStart</h2>
<h3>Step 1: Include angular-fusioncharts.js</h3>
<p>In your HTML, include <code>angular-fusioncharts.js</code> after all other scripts:</p>
<pre><code>&lt;script type=&quot;text/javascript&quot; src=&quot;/path/to/fusioncharts.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;/path/to/angular.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;/path/to/angular-fusioncharts.js&quot;&gt;&lt;/script&gt;</code></pre>
<h3>Step 2: Include <code>ng-fusioncharts</code> in your module</h3>
<p>In the app, include <code>ng-fusioncharts</code> as a dependency. If you looking for where to add the dependency, look for the call to <code>angular.module</code> in your code.</p>
<pre><code>angular.module(&quot;myApp&quot;, [&quot;ng-fusioncharts&quot;])</code></pre>
<h3>Step 3: Add the <code>fc-chart</code> directive</h3>
<p>In your HTML, find the section where you wish to add the chart and add a <code>&lt;div&gt;</code> with the <code>fc-chart</code> directive. We are assuming it&#39;s inside a controller called <code>MyController</code> which would change based on your usage.</p>
<pre><code>&lt;div ng-controller=&quot;MyController&quot;&gt;
  &lt;div fc-chart
       fc-width=&quot;600&quot;
       fc-height=&quot;400&quot;
       fc-type=&quot;column2d&quot;
       fc-dataSource=&quot;{{ myDataSource }}&quot; &gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<p>Now this is bound to a datasource with the <code>myDataSource</code> scope object.</p>
<h3>Step 4: Populate required variables in controller</h3>
<p>In the previous code, we are binding to a scope variable <code>myDataSource</code>, but that hasn&#39;t been defined yet.</p>
<p>In your controller, set the DataSource as you would for a regular FusionCharts JSON Format DataSource (see <a href="http://docs.fusioncharts.com/tutorial-getting-started-your-first-charts-building-your-first-chart.html">this tutorial</a> for a general introduction to this format).</p>
<pre><code>app.controller(&#39;MyController&#39;, function ($scope) {
  $scope.myDataSource = {
    chart: {
        caption: &quot;Harry&#39;s SuperMart&quot;,
        subCaption: &quot;Top 5 stores in last month by revenue&quot;,
    },
    data:[{
        label: &quot;Bakersfield Central&quot;,
        value: &quot;880000&quot;
    },
    {
        label: &quot;Garden Groove harbour&quot;,
        value: &quot;730000&quot;
    },
    {
        label: &quot;Los Angeles Topanga&quot;,
        value: &quot;590000&quot;
    },
    {
        label: &quot;Compton-Rancho Dom&quot;,
        value: &quot;520000&quot;
    },
    {
        label: &quot;Daly City Serramonte&quot;,
        value: &quot;330000&quot;
    }]
  };
});</code></pre>
<p>And your chart should display when you load the page. </p>
<h3>Licensing</h3>
<p>Angular-FusionCharts is open-source and distributed under the terms of the MIT/X11 License. You will still need to download and include FusionCharts in your page. This project provides no direct functionality. You can <a href="http://fusioncharts.com/download/">Download an evaluation</a>. You will still need to purchase a FusionCharts license to use in a commercial environment (FusionCharts is <a href="http://www.fusioncharts.com/download/free/">free for non-commercial and personal use</a>) .</p>

	</div>
</div>


<script type="text/ng-template" id="ex01">

<fc-chart 
    fc-width="600" 
    fc-height="400"
    fc-type="column2d",
    fc-datasource="{{myDataSource}}"
    fc-chart-click="chartClicked",
    fc-chart-object="chartObj"
    ></fc-chart>

</script>

<script type="text/ng-template" id="ex02">

<fc-chart 
    fc-width="300" 
    fc-height="200"
    fc-type="column2d",
    fc-datasource="{{dataSource}}"
    ></fc-chart>
<div fc-chart
    fc-width="300" 
    fc-height="200"
    fc-type="column2d",
    fc-datasource="{{dataSource}}"
    ></div>


</script>

<script type="text/ng-template" id="ex03">

<fc-chart fc-json-url="data/data.json"></fc-chart>

</script>

<script type="text/ng-template" id="ex04">

<div fc-chart
    fc-width="600" 
    fc-height="400"
    fc-type="column2d",
    fc-datasource="{{dataSource}}"
    ></div>
<p><a class="btn btn-default" ng-click="updateMyChartData()">Click me to change data</a></p>

</script>

<script type="text/ng-template" id="ex05">

<div fc-chart
    fc-width="600" 
    fc-height="400"
    fc-type="column2d",
    fc-datasource="{{dataSource}}"
    fc-dataplot-click="onMyChartClick"
    ></div>
<p>The value that you have selected is: {{ selectedValue }}</p>

</script>

</div>
</body>
</html>