<% if(src=== "js") { %>
var myApp = angular.module('myApp', ['ng-fusioncharts']);
myApp.controller('MyController', ['$scope', function($scope){
  var startValue;
  // datasource
  $scope.myDataSource = {
    "chart": {
      "caption": "App Publishing Trend",
      "subCaption": "2012-2016",
      "xAxisName": "Years",
      "yAxisName" : "Total number of apps in store",
      "formatnumberscale": "1",
      "drawCrossLine":"1",
      "plotToolText" : "<b>$dataValue</b> apps on $seriesName in $label",
      "theme": "fusion"
    },

    "categories": [{
      "category": [{
        "label": "2012"
      }, {
        "label": "2013"
      }, {
        "label": "2014"
      }, {
        "label": "2015"
      },{
      "label": "2016"
      }
      ]
    }],
    "dataset": [{
      "seriesname": "iOS App Store",
      "data": [{
        "value": "125000"
      }, {
        "value": "300000"
      }, {
        "value": "480000"
      }, {
        "value": "800000"
      }, {
        "value": "1100000"
      }]
    }, {
      "seriesname": "Google Play Store",
      "data": [{
        "value": "70000"
      }, {
        "value": "150000"
      }, {
        "value": "350000"
      }, {
        "value": "600000"
      },{
        "value": "1400000"
      }]
    }, {
      "seriesname": "Amazon AppStore",
      "data": [{
        "value": "10000"
      }, {
        "value": "100000"
      }, {
        "value": "300000"
      }, {
        "value": "600000"
      },{
        "value": "900000"
      }]
    }]
  };
  // handler for dataplotdragstart event
  $scope.dataPlotDragstart = function(event){
     startValue = event.data.startValue; 
  }
  // handler for dataplotdragend event
  $scope.dataPlotDragend = function(event){ 
    $scope.$apply(function(){
       $scope.selectedDataset = event.data.datasetName;
       $scope.selectedStartValue= FusionCharts.formatNumber(startValue);
       $scope.selectedEndValue = FusionCharts.formatNumber(event.data.endValue);
    });
  }
}]);
<% } else if(src==="html") { %>
<!-- 
    Include script files in your index.html
    ------------------------------------------
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/javascript" src="path/to/angularjs-fusioncharts.min.js"></script>
   
    
-->
<div ng-app='myApp'>
  <div ng-controller='MyController'>
  <!--Listen to FusionCharts events by using "fcevent-<fc-event-name>" attribute. In this case the events used are dataplotdragstart and dataplotdragend-->   
      <fusioncharts
      type="dragcolumn2d"
      width="100%"
      height="500"
      dataFormat="json"
      fcevent-dataplotdragstart="dataPlotDragstart(event)"
      fcevent-dataplotdragend="dataPlotDragend(event)"
      datasource="{{myDataSource}}">
    </fusioncharts>
    <p style="font-size:16px;font-weight: 300;">
      You have dragged a plot of {{selectedDataset || "______"}} dataset, its previous value was {{selectedStartValue || "_______"}} and its current value is {{selectedEndValue || "_______"}} 
    </p>
  </div>
</div>
<% } %>