<% if(src=== "js") { %>
var myApp = angular.module("myApp", ["ng-fusioncharts"]);
myApp.controller("MyController", ["$scope", function($scope){
  var chart;
  // datasource
  $scope.myDataSource = {
    "chart": {
      "caption": "Market Share of Web Servers",
      "plottooltext": "<b>$percentValue</b> of web servers run on $label servers",
      "showLegend": "0",
      "enableMultiSlicing": "0",
      "showPercentValues": "1",
      "legendPosition": "bottom",
      "useDataPlotColorForLabels": "1",
      "theme": "fusion",
    },
    "data": [{
      "label": "Apache",
      "value": "32647479"
    }, {
      "label": "Microsoft",
      "value": "22100932"
    }, {
      "label": "Zeus",
      "value": "14376"
    }, {
      "label": "Other",
      "value": "18674221"
    }]
  };
  // handler for initialzed event
  $scope.initialized = function(chartObj){
    // store the reference of chart instance for further usage
    chart = chartObj;
  };
  $scope.selectedItem = "none";
  $scope.noneChecked = function(){
    chart.slicePlotItem(0,false);
    chart.slicePlotItem(1,false);
    chart.slicePlotItem(2,false);
    chart.slicePlotItem(3,false);
  }
  $scope.apacheChecked = function(){
    chart.slicePlotItem(0,true);
  }
  $scope.microsoftChecked = function(){
    chart.slicePlotItem(1,true);
  }
  $scope.zeusChecked = function(){
    chart.slicePlotItem(2,true);
  }
  $scope.otherChecked = function(){
    chart.slicePlotItem(3,true);
  }
}]);
<% } else if(src==="html") { %>
<!-- 
    Include script files in your index.html
    ------------------------------------------
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/javascript" src="path/to/angularjs-fusioncharts.min.js"></script>
   
    
-->
<div ng-app="myApp">
  <div ng-controller="MyController"> 
    <!--To get the reference of chart instance listen to initialized event-->
      <div>
          <fusioncharts
            type="pie2d"
            width="100%"
            height="500"
            dataFormat="json"
            initialized="initialized(chart)"
            datasource="{{myDataSource}}">
          </fusioncharts>
      </div>
      <div style='position:relative;bottom:2px;text-align:center'>
          <div class="change-type">
              <div>
                  <input type="radio" value="none" ng-click="noneChecked()" ng-model="selectedItem"/>
                  <label>None</label>
              </div>
              <div>
                  <input type="radio" value="apache" ng-click="apacheChecked()" ng-model="selectedItem"/>
                  <label>Apache</label>
              </div>
              <div>
                  <input type="radio" value="microsoft" ng-click="microsoftChecked()" ng-model="selectedItem"/>
                  <label>Microsoft</label>
              </div>
              <div>
                  <input type="radio" value="zeus" ng-click="zeusChecked()" ng-model="selectedItem"/>
                  <label>Zeus</label>
              </div>
              <div>
                  <input type="radio" value="value" ng-click="otherChecked()" ng-model="selectedItem"/>
                  <label>Other</label>
              </div>
          </div>
      </div>
  </div>
</div>
<% } %>