<!DOCTYPE html>
<html>
<head>
	<title>Angular FusionCharts</title>
	<script src="vendor/jquery.min.js" type="text/javascript"></script>
    <script src="vendor/angular.js" type="text/javascript"></script>
    <script src="vendor/angular-route.min.js" type="text/javascript"></script>
    <script src="vendor/ui-bootstrap.js" type="text/javascript"></script>
    <script src="vendor/ui-bootstrap-tpls.js" type="text/javascript"></script>
    <script src="vendor/fusioncharts.js" type="text/javascript"></script>
    <script src="src/ng-fusioncharts.js" type="text/javascript"></script>
    <script src="vendor/prism.js" type="text/javascript"></script>
    <script src="demos/demobrowser.js" type="text/javascript"></script>    

    <link rel="stylesheet" href="vendor/css/bootstrap.css" />
    <link rel="stylesheet" href="demos/demobrowser.css" />
    <link rel="stylesheet" href="vendor/prism.css" />
</head>
<body ng-app="demo_browser">
<div class="container">
