<% if(src=== "js") { %>
$scope.dataSource = {
    chart: {
        caption: "Harry's SuperMart",
        subCaption: "Top 5 stores in last month by revenue",
        numberPrefix: "$",
        theme: "ocean"
    },
    data:[{
        label: "Bakersfield Central",
        value: "880000"
    },
    {
        label: "Garden Groove harbour",
        value: "730000"
    },
    {
        label: "Los Angeles Topanga",
        value: "590000"
    },
    {
        label: "Compton-Rancho Dom",
        value: "520000"
    },
    {
        label: "Daly City Serramonte",
        value: "330000"
    }]
};
<% } else if(src==="html") { %>
<fc-chart 
    fc-width="300" 
    fc-height="200"
    fc-type="column2d",
    fc-datasource="{{dataSource}}"
    ></fc-chart>
<div fc-chart
    fc-width="300" 
    fc-height="200"
    fc-type="column2d",
    fc-datasource="{{dataSource}}"
    ></div>
<% } %>