<style>
  .btn {
    font-family: 'Source Sans Pro';
    margin: 5px;
  }

  .btn.btn-primary {
    background: #4a4d8c;
    transition: all 300ms;
  }

  .btn.btn-primary:hover {
    background: #5c62b5;
  }
</style>
<div class="card shadow">
  <div class="card-body chart-wrapper">
    <div class="chart-wrapper-inner">
      <div id="chart-container">
        <fusioncharts
          type="column2d"
          width="100%"
          height="500"
          dataFormat="json"
          datasource="myDataSource"
        >
        </fusioncharts>
      </div>
      <p ng-bind-html="message" style="padding: 10px; background: #f5f2f0"></p>
      <div style="display: flex; justify-content: center">
        <a
          class="btn btn-outline-secondary btn-sm"
          ng-click="track()"
          ng-style="trackButton"
          >LISTEN TO DATAPLOTCLICK EVENT</a
        >
        <a
          class="btn btn-outline-secondary btn-sm"
          ng-click="reset()"
          ng-style="resetButton"
          >REMOVE DATAPLOTCLICK EVENT</a
        >
      </div>
    </div>
  </div>
</div>
