<% if(src=== "js") { %>
var myApp = angular.module("myApp", ["ng-fusioncharts"]);
myApp.controller("MyController", ["$scope", function($scope){
  var disableStyle = {
    "border-color": "#d3d3d3",
    "color": "#d3d3d3",
    "background": "none",
    "cursor": "default"
  },
  activeStyle = {
    "border-color": "#6957da",
    "cursor": "pointer"
  };      
  $scope.message = "Click the below buttons to add an event dynamically to the chart";
  $scope.myDataSource = {
    "chart": {
      "caption": "Countries With Most Oil Reserves [2017-18]",
      "subCaption": "In MMbbl = One Million barrels",
      "xAxisName": "Country",
      "yAxisName": "Reserves (MMbbl)",
      "numberSuffix": "K",
      "theme": "fusion"
    },
    "data": [
        { "label": "Venezuela", "value": "290" },
        { "label": "Saudi", "value": "260" },
        { "label": "Canada", "value": "180" },
        { "label": "Iran", "value": "140" },
        { "label": "Russia", "value": "115" },
        { "label": "UAE", "value": "100" },
        { "label": "US", "value": "30" },
        { "label": "China", "value": "30"}
    ]
  };
  $scope.trackButton = activeStyle;
  $scope.resetButton = disableStyle;
  
  // handler for dataplotclick event
  $scope.clickHandler = function(e){
    $scope.$apply(function(){
      $scope.message = "You have clicked on plot <b>"+  e.data.categoryLabel + "</b> whose value is <b>" + e.data.displayValue + "</b>";
    });
  };
  $scope.track = function(){
    FusionCharts.addEventListener("dataplotclick", $scope.clickHandler);
    $scope.message = "Click on the plot to see the value along with the label";
$scope.trackButton = disableStyle; $scope.resetButton = activeStyle; };
$scope.reset = function(){ FusionCharts.removeEventListener("dataplotclick",
$scope.clickHandler); $scope.message = "Click the below buttons to add an event
dynamically to the chart"; $scope.trackButton = activeStyle; $scope.resetButton
= disableStyle; } // unlisten to dataplotclick event when the view gets
destroyed. $scope.$on("$destroy", function() {
FusionCharts.removeEventListener("dataplotclick", $scope.clickHandler); }); }]);
<% } else if(src==="html") { %>
<!-- 
    Include script files in your index.html
    ------------------------------------------
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/javascript" src="path/to/angularjs-fusioncharts.min.js"></script>
   
    
-->
<div ng-app="myApp">
  <div ng-controller="MyController">
    <div id="chart-container">
      <fusioncharts
        type="column2d"
        width="100%"
        height="500"
        dataFormat="json"
        datasource="myDataSource"
      >
      </fusioncharts>
    </div>
    <p ng-bind-html="message" style="padding: 10px; background: #f5f2f0"></p>
    <div style="display: flex; justify-content: center">
      <a ng-click="track()" ng-style="trackButton"
        >LISTEN TO DATAPLOTCLICK EVENT</a
      >
      <a ng-click="reset()" ng-style="resetButton"
        >REMOVE DATAPLOTCLICK EVENT</a
      >
    </div>
  </div>
</div>
<% } %>
