<% if(src=== "js") { %>
var myApp = angular.module("myApp", ["ng-fusioncharts"]);
myApp.controller("MyController", ["$scope", function($scope){
  // datasource
  $scope.myDataSource = {
    "chart": {
        "caption": "Bakersfield Central - Total footfalls",
        "subCaption": "Last week",
        "xAxisName": "Day",
        "yAxisName": "No. of Visitors (In 1000s)",
        "showValues": "0",
        "theme": "fusion"
    },
    "data": [
        {
            "label": "Mon",
            "value": "15123"
        },
        {
            "label": "Tue",
            "value": "14233"
        },
        {
            "label": "Wed",
            "value": "25507"
        },
        {
            "label": "Thu",
            "value": "9110"
        },
        {
            "label": "Fri",
            "value": "15529"
        },
        {
            "label": "Sat",
            "value": "20803"
        },
        {
            "label": "Sun",
            "value": "19202"
        }
    ]
  };
  // annotations object
  $scope.annotations = {
    "groups": [
        {
            "id": "anchor-highlight",
            "items": [
                {
                    "id": "high-star",
                    "type": "circle",
                    "x": "$dataset.0.set.2.x",
                    "y": "$dataset.0.set.2.y",
                    "radius": "12",
                    "color": "#6baa01",
                    "border": "2",
                    "borderColor": "#f8bd19"
                },
                {
                    "id": "label",
                    "type": "text",
                    "text": "Highest footfall 25.5K",
                    "fillcolor": "#6baa01",
                    "rotate": "90",
                    "x": "$dataset.0.set.2.x+75",
                    "y": "$dataset.0.set.2.y-2"
                }
            ]
        }
    ]
  };
}]);
<% } else if(src==="html") { %>
<!-- 
    Include script files in your index.html
    ------------------------------------------
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/javascript" src="path/to/angularjs-fusioncharts.min.js"></script>
   
    
-->
<div ng-app="myApp">
  <div ng-controller="MyController"> 
    <!--Add annotations to the chart through annotations attribute-->
    <fusioncharts
        type="spline"
        width="100%"
        height="500"
        annotations="{{annotations}}"
        dataFormat="json"
        datasource="{{myDataSource}}">
    </fusioncharts>
  </div>
</div>
<% } %>