<style type="text/css">
	.log-pane {
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		font-size: 1.6rem;
	}
</style>

<div class="card shadow">
	<div class="card-body chart-wrapper">
		<div class="chart-wrapper-inner">
			<div id="chart-container">
				        <!--Listen to FusionCharts events by using "fcevent-<fc-event-name>" attribute. In this case the event name is dataplotrollover-->  
				<div fusionCharts width="100%" height="400" id="ex10" type="column2d" datasource="{{myDataSource}}" fcevent-dataplotrollover="dataPlotRollOver(event, args)">
				</div>

				<div ng-bind-html="logMessage" class='log-pane' style="padding: 10px;background:#f5f2f0"></div>
			</div>
		</div>
	</div>
</div><!--
    <tabset>
        <tab heading="HTML"><ng-prism class="language-markup">{{ html }}</ng-prism></tab>
        <tab heading="Javascript"><ng-prism class="language-javascript">{{ js }}</ng-prism></tab>
    </tabset>
-->
<tabbed-code ></tabbed-code>