<div fusioncharts
    width="600" 
    height="400"
    type="column2d",
    datasource="{{dataSource}}"
    events="events"
    ></div>
<p style="font-size:20px;font-weight: 300;">You're are currently hovering over <span style="font-weight: 400">{{selectedLabel || "______"}}</span> whose value is <span style="font-weight: 400">{{selectedValue || "_______"}}</span> </b></p>
<tabset>
    <tab heading="HTML"><ng-prism class="language-markup">{{ html }}</ng-prism></tab>
    <tab heading="Javascript"><ng-prism class="language-javascript">{{ js }}</ng-prism></tab>
</tabset>