<% if(src=== "js") { %>
var myApp = angular.module("myApp", ["ng-fusioncharts"]);
myApp.controller("MyController", ["$scope", function($scope){
    // datasource
    $scope.dataSource = {
        "chart": {
          "caption": "Countries With Most Oil Reserves [2017-18]",
          "subCaption": "In MMbbl = One Million barrels",
          "xAxisName": "Country",
          "yAxisName": "Reserves (MMbbl)",
          "numberSuffix": "K",
          "theme": "fusion"
        },
        "data": [
            { "label": "Venezuela", "value": "290" },
            { "label": "Saudi", "value": "260" },
            { "label": "Canada", "value": "180" },
            { "label": "Iran", "value": "140" },
            { "label": "Russia", "value": "115" },
            { "label": "UAE", "value": "100" },
            { "label": "US", "value": "30" },
            { "label": "China", "value": "30"}
        ]
      };

    $scope.changeBackgroundColor = function () {
        // changing background color through scope
        $scope.dataSource.chart.bgColor = "#efefef";
    };

    $scope.changeCaptionTextAlignment = function () {
        // changing caption alignment through scope
        $scope.dataSource.chart.captionAlignment = "left";
    };

    $scope.reset = function(){
        $scope.dataSource.chart.captionAlignment = "center";
        $scope.dataSource.chart.bgColor = "ffffff";
    }
}]);
<% } else if(src==="html") { %>
<!-- 
    Include script files in your index.html
    ------------------------------------------
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="path/to/angularjs-fusioncharts.min.js"></script>
   
    Include Theme CSS File
    ------------------------------------------
    <link rel="stylesheet" href="path/to/fusioncharts/themes/fusioncharts.theme.fusion.css"/>
-->

<div ng-app="myApp">
    <div ng-controller="MyController"> 
        <div style="display: flex;justify-content: center">
            <div fusioncharts 
                 width="100%" 
                 height="400" 
                 type="column2d" 
                 datasource="{{dataSource}}">
            </div>
        </div>

        <div id="button-container">
            <a ng-click="changeBackgroundColor()">Change chart background color</a>
            <a ng-click="changeCaptionTextAlignment()">Make Caption text left-aligned</a>
            <a ng-click="reset()">Reset</a>
        </div>
    </div>
</div>
<% } %>