<% if(src=== "js") { %>
var myApp = angular.module('myApp', ['ng-fusioncharts']);
myApp.controller('MyController', ['$scope', function($scope){

    $scope.total = 0;

    $scope.logMessage = 'Hover on the plot to see the percentage along with the label';

    // Save the function reference in global object so that FusionCharts link can call 
    // it when called
    $scope.log = function(label, value){ 
        // Since the update is happening outside angular execution context we need 
        // the digest cycle to run to make sure that the view is updated.   
        $scope.$apply(function(){
            $scope.logMessage = `<b>${label}</b> is <b>${value}%</b> of the total`;                 
        });
    }
    // datasource
    var DataSource = {
        "chart": {
            "caption": "Countries With Most Oil Reserves [2017-18]",
            "subCaption": "In MMbbl = One Million barrels",
            "xAxisName": "Country",
            "yAxisName": "Reserves (MMbbl)",
            "numberSuffix": "K",
            "theme": "fusion",
        },
        "data": [
            { "label": "Venezuela", "value": "290" },
            { "label": "Saudi", "value": "260" },
            { "label": "Canada", "value": "180" },
            { "label": "Iran", "value": "140" },
            { "label": "Russia", "value": "115" },
            { "label": "UAE", "value": "100" },
            { "label": "US", "value": "30" },
            { "label": "China", "value": "30"}
        ]
    };

    var myData=DataSource.data,total=0;
    for(var i=0;i<myData.length;i++)
    {
        total+=Number(myData[i].value);
    }
    $scope.total = total;
    // handler for dataplotrollover event
    $scope.dataPlotRollOver = function(e,a){
            var ratio=(parseFloat(a.dataValue/$scope.total)*100).toFixed(2);
            $scope.log(a.categoryLabel, ratio);
    };
    
    $scope.myDataSource=DataSource;
}]);

<% } else if(src==="html") { %>
<!-- 
    Include script files in your index.html
    ------------------------------------------
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="path/to/angularjs-fusioncharts.min.js"></script>
   
    Include Theme CSS File
    ------------------------------------------
    <link rel="stylesheet" href="path/to/fusioncharts/themes/fusioncharts.theme.fusion.css"/>
-->    
<style type="text/css">
.log-pane{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 2px solid black;
    font-size: 20px;
}
</style>
<div ng-app='myApp'>
    <div ng-controller='MyController'>
    <!--Listen to FusionCharts events by using "fcevent-<fc-event-name>" attribute. In this case the event name is dataplotrollover-->   
            <div fusionCharts 
                 width="100%"
                 height="400" 
                 id="ex10" 
                 type="column2d" 
                 datasource="{{myDataSource}}" 
                 fcevent-dataplotrollover="dataPlotRollOver(event, args)">
			</div>

			<div ng-bind-html="logMessage" class='log-pane' style="padding: 10px;background:#f5f2f0"></div>
    </div>
</div>
<% } %>