<% if(src=== "js") { %>
var myApp = angular.module("myApp", ["ng-fusioncharts"]);
myApp.controller("MyController", ["$scope", function($scope){
  // datasource
  $scope.myDataSource = {
    "chart": {
      "caption": "Nordstorm's Customer Satisfaction Score for 2017",
      "lowerLimit": "0",
      "upperLimit": "100",
      "showValue": "1",
      "numberSuffix": "%",
      "theme": "fusion",
      "showToolTip": "0"
    },
    "colorRange": {
      "color": [{
        "minValue": "0",
        "maxValue": "50",
        "code": "#F2726F"
      }, {
        "minValue": "50",
        "maxValue": "75",
        "code": "#FFC533"
      }, {
        "minValue": "75",
        "maxValue": "100",
        "code": "#62B58F"
      }]
    },
    "dials": {
      "dial": [{
        "value": "81"
      }]
    }
  };
}]);
<% } else if(src==="html") { %>
<!-- 
    Include script files in your index.html
    ------------------------------------------
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="path/to/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="path/to/angularjs-fusioncharts.min.js"></script>
   
    Include Theme CSS File
    ------------------------------------------
    <link rel="stylesheet" href="path/to/fusioncharts/themes/fusioncharts.theme.fusion.css"/>
-->
<div ng-app="myApp">
  <div ng-controller="MyController">
    <fusioncharts
      type="angulargauge"
      width="450"
      height="250"
      dataFormat="json"
      dataSource="myDataSource"
    >
    </fusioncharts>
  </div>
</div>
<% } %>
