pre {
    max-height: 400px;
}

/* From the passportjs.org website */
.masthead {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}

.masthead .logo {
  height: 38px;
  width: 210px;
}

.masthead h3 a {
  color: #333333;;
  text-decoration: none;
}

.masthead h3 a:hover {
  color: #333333;
  text-decoration: none;
}

.jumbotron .logo {
  height: 60px;
  width: 119px;
  float: left;
  margin-right: 15px;
  margin-top: 26px;
}

.jumbotron p {
	margin-left: 133px;
}

.jumbotron p {
	margin-left: 133px;
}
